body{
    background-image: url("background.jpg"); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.nav-bar-top{
    border:none;
    display: flex;
    flex-flow: row nowrap;
    padding: 25px 30px 25px 30px;
}
.nav-bar-top-item.nav{
    padding-left: 30px;
}
.nav-bar-top-item.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40 px;
    font-weight: 200;
    font-style: normal;
    text-align: right;
    color: #828282;
    text-decoration: none;
    padding: 0px 30px 0px 30px;
}
.nav-bar-top-item.text:hover{
    color:blueviolet;
    text-decoration: none;
}
.nav-bar-top-item.text:active{
    padding: 10px 10px 10px 10px;
    text-align: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 12px;
}
.nav-bar-top img{
    width: 30px;
    height: auto;
}
.introduction{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 40px 40px 40px 40px;
}
.introduction h1{
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blueviolet;
    font-weight: bold;
    padding: 0px;
    margin:5px;
}
.introduction p{
    padding: 0px;
    margin: 0px;
    font-size: 19px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #828282;
}
.introduction-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 500px;
}